// 代码生成时间: 2025-08-12 02:25:29
@{
    Layout = null;
}

<!-- This is a responsive layout using Bootstrap CSS framework. -->
<html>
<head>
    <title>Responsive Layout</title>
    <!-- Bootstrap CSS library for responsive design -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUhoCWr7x9JvoRxT2Mw6T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <!-- Responsive grid layout -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Content for small devices, medium devices, and large devices -->
                <h1>Responsive Heading</h1>
                <p>This is a responsive layout designed to adjust based on the device's screen size.</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5bKbxo2n+5HvxBUxG65V7Yz1suMQA7rR5vQCV1r7" crossorigin="anonymous"></script>
</body>
</html>